* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
}
:root{
  --black: #0e1114;
  --gray:#cccdcf;
  --light-gray: rgba(255, 255, 255, 0.986);
  --green: #0dcaf0;
  --light-green:FAFBFC;
  --white:#ffffff;
  --secondary-color:#6332f6;
}

::-webkit-scrollbar-track {
  background-color: var(--green);
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background: var(--gray);
}

button{
  border: none;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
}
a{cursor: pointer;}
ul{
  padding: 0!important;
  margin: 0!important;
}

.d-flex-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}





/* header */


header{
  width: 100%;
  background: var(--black);
  padding: 10px 20px;
  border-bottom: 1px solid var(--gray);
}
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #0dcaf0f4;
  box-shadow: 0 0 10px 0.5px rgba(2, 166, 231, 0.823);
  object-fit: cover;
}

.menu-bar,
.close{
  font-size: 25px;
  color: var(--white);
  display: none;
}

.navigation li{
  padding: 15px;
  list-style: none;
  display: inline-block;
}
.navigation li a{
  color: var(--white);
  transition: 0.4s;
  text-decoration: none;
  font-size: 19px;
}
.navigation li a.active{
  color: #0dcaf0f4;


}

/* main-page */

.main-page{
  background: var(--black);
  padding: 80px 0;
  clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 100%, 73% 86%, 0 100%);
}
.bg-imgs{
  width: 100%;
  position: relative;
}
.bg-imgs img{
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
.bg-details{
  width: 70%;
  margin-top: -50px;
}
.bg-details h1,.bg-details h3{
  color: var(--white);
}
.resume-btn{
  margin-top: 20px;
}
.btn-1{
  margin: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
  color: var(--white);
  border-radius: 3px;
  transition: 0.3s;
}
.btn-1:first-child{
  background: aqua;
}
.btn-1:last-child{
  background: #6332f6;
}

.btn-1:hover{
  opacity: 0.8;
}

/* change-text */
.change-text{
  position: relative;
  height: 30px;
  overflow: hidden;
}
.change-text li{
  list-style: none;
  position: relative;
  padding-top: 20px;
  top: 0;
  line-height: 30px;
  animation: slid 6s infinite;
}
@keyframes slid{
  100%{
    top: -135px;
  }
}
.change-text li span{
  font-size: 26px;
  color: var(--green);
  letter-spacing: 2px;
  font-weight: 500;
}




/* about */
/* about-imgs */

.about{
  margin-top: 20px;
  padding: 20px 0;
}
.heading{
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.about-imgs{
  margin: auto;
  width: 100%;
}

.position-relative{
  position: relative;
}
.back-dots{
  position: absolute;
  bottom: 0%;
  width: 62%;
  right: 2%;
  height: 56%;
  z-index: -11;

}
.about-imgs img{
  margin: 50px auto;
  width: 300px;
  height: 400px;
  transition: 0.3s;
  border-left: 5px solid var(--green);
  border-bottom: 5px solid var(--green);
}
.about-imgs:hover .back-dots{
  opacity: 1;
  z-index: 111;
}

.social-links li{
  list-style: none;
  display: inline-block;
  background: var(--gray);
  margin-right: 10px;
  padding: 5px 7px;
  border-radius: 50%;
  transition: 0.3s;
}

.social-links li:last-child{
  background: var(--green);
}
.social-links li .icon{
  transition: 0.3s;
  font-size: 22px;
  color: var(--black);
}
.social-links li:hover{
  background: var(--green);
  transform: scale(1.1);
}
.social-links li:hover .icon{
  color: var(--white);
}


.description p{
  line-height: 30px;
  font-size: 16px;
  text-justify: auto;
  text-align: left;
}

/* skill */


.skill{
  position: relative;
  background: var(--black);
  padding: 30px 0;
}
.slider-skill{
  padding:10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  border-radius: 6px;
  position: relative;
  border-radius: 10px;
  transition: 0.4s;
}
.skill-card{
  text-align: center;
  height: 120px;
}
.skill-card img{
  width: 25%;
  transition: 0.3s;
}

.slider-skill:hover .skill-card img{
  transform: translateY(-20px);
  width: 30%;
}

.skill-title{
  text-align: center; 
  margin-top: 10px;
  color: var(--gray);
}


/* menu-skill */

.menu-skill{
  background: #FAFBFC;
  padding: 20px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
}
.menu-ul li{
  list-style: none;
  padding: 30px 20px;
  display: block;
  cursor: pointer;
  font-size: 18px;
}
.menu-ul li:hover{
  background: var(--green);
}
.menu-ul li.active{
  background: var(--green);
}
.menu-ul li a{
  text-decoration: none;
  color: var(--black);
  padding: 10px;
}




/* projects */


.project{
  padding: 30px 0;
}
.project-slider{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  background: #f1f1f1;
  position: relative;
  transition: 0.3s;
}
.project-slider:hover{
  background: rgba(10, 37, 64, 0.65);
}
.project-slider .eye{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 111;
  transform: translate(-50%,-50%);
  color: var(--white);
  font-size: 30px;
  transform: scale(0);
  transition: 0.4s;
}
.project-slider:hover .eye{
  transform: scale(1.4);
  color: #0dcaf0;
}
.img-slider{
  width: 100%;
  transition: 0.4s;
}
.img-slider img{
  width: 100%;
  object-fit: cover;
}
.project-detail{
  padding: 8px;
}
.project-detail a{
  margin-left: 5px;
  text-decoration: none;
  color: #0e1114;
  font-size: 18px;
  border-bottom: 1px solid #0dcaf0;
}
.btn-slider{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34,34,34,0.287);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* contact */
.contact{
  padding: 40px 20px;
  background: linear-gradient(90deg, var(--white) 50%,var(--green)50% );
}

/* form */

form{
width: 100%;
}

.input-field{
  margin-bottom: 20px;
  margin: 10px auto;
}
.input-field input,
.input-field textarea{
  border: 1px solid var(--gray);
  outline: none;
  width: 80%;
  padding: 12px;
}
.send-btn{
  background: var(--green);
  transition: 0.4s;
  position: relative;
  min-width: 30%;
  color: var(--white);
  font-size: 20px;
}
.send-btn:hover{
  width: 80%;
}
.contact-us{
  background: #f1f1f1;
  padding: 10px 20px;
  font-size: 22px;
  text-align: center;
  color: rgba(10, 37, 64, 0.65);
}
.information{
  padding: 20px;
}
.information p{
  margin-bottom: 30px;
  color: var(--light-gray);
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: 0.4s;
  border-radius: 12px;
}
.information p:hover{
  color: #0dcaf0;
  background: #f1f1f1;
}
.information a{margin-right: 5px;}
footer{
  border-top: 1px solid var(--gray);
  background: var(--black);
  padding: 20px;
}

.footer-img{
  width: 200px;
  height: 150px;
  border-radius: 100%;
}
.footer-img img{
  width: 100%;
}

.image-slider img{
  width: 100%;
}





















@media(max-width:770px){

  /* header */
  header{
    position: relative;
  }
  .main-page{
    clip-path: none;
  }
  .bg-imgs img{
    width: 100%;
  }
  .menu-bar{
    display: block;
    cursor: pointer;
  }
  .close{
    cursor: pointer;
    position: absolute;
    display: block;
    color: var(--black);
    top: 15px;
    right: 20px;
    z-index: 1111;
  }
  .navigation{
    position: fixed;
    top: -220%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 1111;
    height: 100vh;
    transition: 0.5s;
    opacity: 0.96;
  }

  .navigation li a{
    color: var(--black);
  }
  .active{
    top: 0%;
  }
  .bg-imgs img{
    margin: 10px auto;
  }
  .bg-details{
    margin-top: 20px;
  }
  .about{
    margin-top: 20px;
    text-align: center;
  }

  .menu-skill{
    background: var(--light-gray);
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    height: auto;
    width: 100%;
    margin-top: 20px;
  }
  .menu-ul li{
    list-style: none;
    padding: 20px;
    display: inline-block;
  }
  .menu-ul li a{
    font-size: 15px;
  }
  .skill-card img{
    width: 50%;
    transition: 0.3s;
  }
  form{
    text-align: center;
    margin-bottom: 20px;
    }

  .contact{
    padding: 10px;
    background: var(--light-gray);
  }
}